<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body{
            font-family: arial, sans-serif;
            font-size: 25px;
        }
    </style>
</head>

<body>
    
    <h1> Update </h1>
        <form method = "POST">
            
            First Name: <input type="text" name ="firstName" value="<%= author.firstName %>"><br> 
            Last  Name: <input type="text" name="lastName" value="<%= author.lastName %>"><br> 
            
            Gender:
            <select value="<%= author.sex %>">
                <option name=" "> Select One </option>
                <option name="F"> Female </option>
                <option name="M"> Male </option>
                <option name="O"> Other </option>
            </select>
            
            <br>
            
            <input type="hidden" name="authorId" value="<%= author.authorId %>"> 
                
            <button class="btn btn-success"> 
                Confirm
            </button>
            
            <%= typeof(message) != "undefined"?message:"" %>
            
        </form>
        
        <a href = "./authors">
            <button type="button" class="btn btn-info">
                Return
            </button>
        </a>
        
</body>